<template>
    <div id="container">
        <buttonback/>

        <div class="info">
            <h1>Informacje ogólne</h1>
            <img src="/profilowe-adam.jpg" alt="">
            <vs-tooltip danger>
                <vs-button danger @click="count++">
                    <i class='bx bxs-heart bx-sm' style='color:#ffffff'></i>
                    <p>
                        {{count}}
                    </p>
                </vs-button>
                <template #tooltip>
                    Podoba mi się!
                </template>
            </vs-tooltip>
            <h2>Adam Mickiewicz</h2>
            <h2 class="desc">Opis</h2>
            <h4>
                Członek i założyciel Towarzystwa Filomatycznego, mesjanista związany z Kołem Sprawy Bożej Andrzeja Towiańskiego.<br>
                Jeden z najwybitniejszych twórców dramatu romantycznego w Polsce, zarówno w ojczyźnie, jak i w zachodniej Europie porównywany do Byrona i Goethego.
            </h4>
            <h2 class="desc">Miłuje</h2>
            <h4>?¿?¿?</h4>
            <div class="rel">
                <vs-button dark flat to="/logout/" >Wyloguj</vs-button>
            </div>
        </div>

    </div>
</template>

<script>
import buttonback from '~/components/buttonback.vue'

export default {
    layout: 'login',
    components: {
        buttonback
    },
    data: function () {
        return {
            count: 1
        }
    }
}
</script>

<style lang="scss" scoped>
#container{
    padding: 50px 0;

    .info{
        text-align: center;
        padding: 0 20px;

        .vs-tooltip-content{
            width: 60px;
            margin: 0 auto;
            position: relative;
            top: -25px;
        }

        .vs-button{
            position: relative;

            p{
                position: absolute;
                right: 8px;
                bottom: -15px;
                font-size: 16px;
                font-weight: bold;
            }
        }
        
        img{
            width: 300px;
            border-radius: 30px;
        }

        h1{
            text-align: left;
            padding-left: 30px;
            color: #4d4d4d;
        }
        
        h4{
            font-weight: 300;
            color: #4d4d4d;
            margin: 5px auto;
            max-width: 600px;
        }

        .desc{
            text-align: center;
            color: #4d4d4d;
            margin: 0;
            margin-top: 30px;
            font-weight: 500;
        }

        .rel{
            position: relative;

            .vs-button{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                margin-top: 30px;
            }
        }
    }
}
</style>