<template>
    <div id="container">
        <buttonback/>
        <div class="info">
            <h1>Informacje ogólne</h1>
            <img src="/telimena.jpg" alt="">
            <vs-tooltip danger>
                <vs-button danger @click="count++">
                    <i class='bx bxs-heart bx-sm' style='color:#ffffff'></i>
                    <p>
                        {{count}}
                    </p>
                </vs-button>
                <template #tooltip>
                    Podoba mi się!
                </template>
            </vs-tooltip>
            <h2>Telimena</h2>
            <h2 class="desc">Opis</h2>
            <h4>
                Jedyne, czego pragnę w swoim życiu, to ponownie prawdziwej miłości z dzielnym mężem, który spędzi ze mną całe życie.<br>
                Swoje na karku już mam, ale wciąż jestem piękną kobietą w kwiecie wieku.<br>
                Niech wszyscy panowie wiedzą, jak wiele korzyści przyniesie im związek ze mną.<br> 
            </h4>
            <h2 class="desc">Miłuje</h2>
            <h4>T. S.</h4>

            <div>
                <h1 id="coments">Ostatnie komentarze</h1>
                <div>
                    <vs-card type="3">
                        <template #title>
                            <h3>Anonim</h3>
                        </template>
                        <template #text>
                            <p>
                                Telimeno jak pięknie by wyglądały nasze dzieci.
                            </p>
                        </template>
                    </vs-card>

                    <vs-card type="3">
                        <template #title>
                            <h3>Anonim</h3>
                        </template>
                        <template #text>
                            <p>
                                Twoja uroda mnie onieśmiela
                            </p>
                        </template>
                    </vs-card>

                    <vs-card type="3">
                        <template #title>
                            <h3>Anonim</h3>
                        </template>
                        <template #text>
                            <p>
                                Widać że jesteś kobietą z klasą
                            </p>
                        </template>
                    </vs-card>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import buttonback from '~/components/buttonback.vue'

export default {
    layout: 'login',
    components: {
        buttonback
    },
    data: function () {
        return {
            count: 6
        }
    }
}
</script>

<style lang="scss" scoped>
#container{
    padding: 50px 0;

    .info{
        text-align: center;
        padding: 0 20px;

        #coments{
            text-align: center;
            padding: unset;
            color: #776e6e;
            padding-top: 100px;
        }

        .vs-card-content{
            display: inline-block;
            margin: 5px 15px;
        }

        .vs-tooltip-content{
            width: 60px;
            margin: 0 auto;
            position: relative;
            top: -25px;
        }

        .vs-button{
            position: relative;

            p{
                position: absolute;
                right: 8px;
                bottom: -15px;
                font-size: 16px;
                font-weight: bold;
            }
        }
        
        img{
            width: 300px;
            border-radius: 30px;
        }

        h1{
            text-align: left;
            padding-left: 30px;
            color: #4d4d4d;
        }
        
        h4{
            font-weight: 300;
            color: #4d4d4d;
            margin: 5px auto;
            max-width: 600px;
        }

        .desc{
            text-align: center;
            color: #4d4d4d;
            margin: 0;
            margin-top: 30px;
            font-weight: 500;
        }
    }
}
</style>