<template>
    <div id="container">
        <h1>Statystyki</h1>

        <div class="box">
            <h3>Liczba zarejestrowanych użytkowników</h3>
            <div class="users">
                <span class="numbers">176</span>
                <i class='bx bxs-user-check' ></i>
            </div>
        </div>

        <div class="box">
            <h3>Dzienna ilość wiadomości</h3>
            <div class="users">
                <span class="numbers">5 943</span>
                <i class='bx bxs-message-alt-detail'></i>
            </div>
        </div>

        <div class="box">
            <h3>Liczba wysłanych zdjęć</h3>
            <div class="users">
                <span class="numbers">1 486</span>
                <i class='bx bxs-photo-album'></i>
            </div>
        </div>

        <div class="box">
            <h3>Liczba nowych użytkowników</h3>
            <div class="users">
                <span class="numbers">6</span>
                <i class='bx bxs-user-plus'></i>
            </div>
        </div>

        <div class="box">
            <h3>Liczba dzisiejszych dopasowań</h3>
            <div class="users">
                <span class="numbers">792</span>
                <i class='bx bxs-heart'></i>
            </div>
        </div>

        <div class="box">
            <h3>Ilość nowych komentarzy</h3>
            <div class="users">
                <span class="numbers">58</span>
                <i class='bx bxs-comment-detail' ></i>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    layout: 'login'
}
</script>

<style lang="scss" scoped>

#container{
    padding-top: 50px;
    padding-bottom: 50px;

    .box{
        width: 90%;
        min-height: 150px;
        background-color: #d1d1d1b6;
        border-radius: 20px;
        margin: auto;

        h3{
            padding-top: 10px;
            color: #3a3a3a;
        }

        .users{
            height: 75px;
            padding: 0 30px;
            position: relative;

            .numbers{
                font-size: 36px;
                font-weight: bold;
                position: absolute;
                left: 50%;
                top: 10%;
                transform: translateX(-100%);
            }

            .bx{
                font-size: 3.0rem;
                position: absolute;
                right: 30%;
                top: 5%;
            }
        }
    }
}

h1,h2,h3,h4,h5,h6{
    padding-left: 30px;
}

@media (min-width: 440px) {
    #container{
        padding-top: 50px;
        padding-bottom: 50px;
        align-content: center;
        align-items: center;

        .box{
            width: 400px;
            display: inline-block;
            margin: 15px 20px;
        }
    }
}
</style>