<template>
    <div id="container">
        <h1>Najaktywniejsi użytkownicy serwisu</h1>

        <vs-card>
            <template #title>
                <h3>Jacuś64</h3>
            </template>
            <template #img>
                <img src="/profilowe-jacek.png" alt="">
            </template>
            <template #text>
                <p>
                    Zakochany w Ewie Horeszkównie
                </p>
                <vs-button danger flat to="/profil/jacek/">Sprawdź profil</vs-button>
            </template>
        </vs-card>

        <vs-card>
            <template #title>
                <h3>Tadeusz1337</h3>
            </template>
            <template #img>
                <img src="/profilowe-tadeusz.png" alt="">
            </template>
            <template #text>
                <p>
                    Zakochany w Zosi
                </p>
                <vs-button danger flat to="/profil/tadeusz/">Sprawdź profil</vs-button>
            </template>
        </vs-card>

        <vs-card>
            <template #title>
                <h3>_Telimena_</h3>
            </template>
            <template #img>
                <img src="/telimena.jpg" alt="">
            </template>
            <template #text>
                <p>
                    Zakochana w Tadeuszu Soplicy
                </p>
                <vs-button danger flat to="/profil/telimena/">Sprawdź profil</vs-button>
            </template>
        </vs-card>

        <vs-card>
            <template #title>
                <h3>Hrabia007</h3>
            </template>
            <template #img>
                <img src="/hrabia.png" alt="">
            </template>
            <template #text>
                <p>
                    Zakochany w Telimenie
                </p>
                <vs-button danger flat to="/profil/hrabia/">Sprawdź profil</vs-button>
            </template>
        </vs-card>

        <vs-card>
            <template #title>
                <h3>Zosia_xoxo</h3>
            </template>
            <template #img>
                <img src="/zosia.jpg" alt="">
            </template>
            <template #text>
                <p>
                    Brak zainteresowań
                </p>
                <vs-button danger flat to="/profil/zosia/">Sprawdź profil</vs-button>
            </template>
        </vs-card>

        <vs-card>
            <template #title>
                <h3>Ewwwa123</h3>
            </template>
            <template #img>
                <img src="/ewa.jpg" alt="">
            </template>
            <template #text>
                <p>
                    Zakochana w Jacku Soplicy
                </p>
                <vs-button danger flat to="/profil/ewa/">Sprawdź profil</vs-button>
            </template>
        </vs-card>

        <vs-card>
            <template #title>
                <h3>Adam Mickiewicz (Ty)</h3>
            </template>
            <template #img>
                <img src="/profilowe-adam.jpg" alt="">
            </template>
            <template #text>
                <p>
                    Administrator
                </p>
                <vs-button danger flat to="/profil/">Sprawdź profil</vs-button>
            </template>
        </vs-card>

    </div>
</template>

<script>
export default {
    layout: 'login'
}
</script>

<style lang="scss" scoped>
#container{
    padding-top: 50px;
    padding-bottom: 50px;

    text-align: center;

    h1{
        text-align: left;
    }

    .vs-card-content{
        display: inline-block;
        margin: 10px 15px;
        width: 250px;
        text-align: left;
    }
}

h1,h2,h3,h4,h5,h6{
    padding-left: 30px;
}
</style>