<template>
    <vs-button dark flat to="/login/users/">
            <i class='bx bx-left-arrow-alt bx-sm' style='color:#ffffff'></i>
            <p>
                Wróć
            </p>
    </vs-button>
</template>
<script>
export default {
    
}
</script>
<style lang="scss" scoped>
    .vs-button__content{
        p{
            margin: 0;
            font-size: 18px;
            color: white;
        }
    }
</style>