<template>
  <div>
    <Nuxt />
    <div id="copy">
      <p><b>Wykonali: </b><br>
        Patryk Dąbrowski, <br>
        Eryk Kupaj, <br>
        Bartosz Markier, <br>
        Tomasz Stempowski</p>
    </div>
  </div>
</template>

<style>
html {
  border: 0;
  padding: 0;
  margin: 0;
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body {
  padding: 0;
  margin: 0;
}

#copy{
  z-index: 100;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 150px;
  padding: 10px 15px;
  background-color: #d4d4d49a;
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

</style>
