<template>
  <div>
    <vs-navbar fixed danger text-white center-collapsed v-model="active"> 
         <vs-navbar-item to="/login/" :active="active == 'start'" id="start">
           <i class='bx bx-home-alt'></i>
        </vs-navbar-item>
        <vs-navbar-item to="/login/users/" :active="active == 'messages'" id="messages">
          <i class='bx bxs-contact' ></i>
        </vs-navbar-item>
        <vs-navbar-item to="/profil/" :active="active == 'profil'" id="profil">
          <i class='bx bx-user' ></i>
        </vs-navbar-item>
    </vs-navbar>
    <Nuxt />
  </div>
</template>

<script>
export default {
  data:() => ({
      active: 'start'
    })
}
</script>

<style>
html {
  border: 0;
  padding: 0;
  margin: 0;
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar{
  display: none;
}

body{
  background-color: #fff1f1
}
</style>