<template>
  <div class="container">
    <div class="card">
      <img src="/profilowe-adam.jpg" alt="">
      <p>Administrator</p>
      <vs-button danger flat to="/login/" >Kontynuuj jako&nbsp;<b>Adam</b></vs-button>
      <p><a href="/logout">To nie ty?</a></p>
    </div>
  </div>
</template>

<script>

export default {
}
</script>


<style lang="scss" scoped>
  a{
    text-decoration: none;
    color: #555;

    &:hover{
      text-decoration: underline;
    }
  }
  .container {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .card{
      width: 250px;
      height: 320px;
      background-color: #dbdbdb;
      justify-content: center;
      border-radius: 30px;
      transition: .3s;

      img{
        width: 200px;
        height: 200px;
        border-radius: 30px;
        margin-top: 25px;
        margin-bottom: 5px;
      }

      button{
        margin-left: 50px;
      }

      p{
        margin: 0;
        font-size: 12px;
        color: #555
      }

      &:hover{
        transform: scale(1.05);
      }
    }
  }
</style>
