<template>
    <div class="container">
        <div id="bigger">
            <h2>Wybierz konto</h2><br>
            <div class="flex">
                <div class="card">
                    <img src="/profilowe-tadeusz.png" alt="">
                    <vs-button dark flat to="#" >Kontynuuj jako&nbsp;<b>Tadeusz</b></vs-button>
                </div>
                <div class="card">
                    <img src="/profilowe-jacek.png" alt="">
                    <vs-button dark flat to="#" >Kontynuuj jako&nbsp;<b>Jacek</b></vs-button>
                </div>
                <div class="card">
                    <img src="/profilowe-adam.jpg" alt="">
                    <vs-button dark flat to="/login/" >Kontynuuj jako&nbsp;<b>Adam</b></vs-button>
                </div>
            </div>
        </div>
        <div id="smaller">
            <div>
                <h3>Zarejestruj się!</h3>
            </div>
            <div class="inputs">
                <div class="first">
                    <vs-input state="dark" v-model="value1" placeholder="Email">
                        <template #icon>
                            <i class='bx bx-user'></i>
                        </template>
                    </vs-input>

                    <vs-input state="dark" v-model="value2" placeholder="Imię">
                        <template #icon>
                            <i class='bx bx-id-card'></i>
                        </template>
                    </vs-input>
                </div>

                <div class="sec">
                    <vs-input state="dark" type="password" v-model="value3" placeholder="Hasło">
                    </vs-input>
                    <vs-input state="dark" type="password" v-model="value4" placeholder="Powtórz hasło">
                        <template v-if="value3 != value4" #message-warn>
                        Hasła się róznią
                        </template>
                    </vs-input>
                </div>

                <div class="submit">
                    <vs-button dark flat @click="openNotification('bottom-right', 'warn', `<i class='bx bx-error' ></i>`)">Zarejestruj!</vs-button>
                </div>
                
            </div>
        </div>
    </div>
</template>

<script>
export default {
      data:() => ({
        value1: '',
        value2: '',
        value3: '',
        value4: ''
      }),
      computed: {
        validEmail() {
          return /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.value4)
        }
      },
        methods: {
        openNotification(position = null, color, icon) {
          const noti = this.$vs.notification({
            icon,
            color,
            position,
            title: 'Hej ty!',
            text: `Ta funkcja jeszcze nie działa :c`
          })
        }
      }

}
</script>

<style lang="scss" scoped>
    .container{
        margin: 0 auto;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        #bigger{
            float: left;
            width: 55%;
            height: 100vh;
            background-color: #eee;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-top: 20%;

            h2{
                color: #555;
                margin-bottom: 0;
            }

            .flex{
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            .card{
                width: 250px;
                height: 300px;
                background-color: #fff;
                justify-content: center;
                border-radius: 30px;
                transition: .3s;
                margin: 15px 20px;
                box-shadow: 0 10px 40px -20px #000;
                display:  inline-block;

                img{
                    width: 200px;
                    height: 200px;
                    border-radius: 30px;
                    margin-top: 25px;
                    margin-bottom: 10px;
                }

                button{
                    margin-left: 40px;
                }

                p{
                    margin: 0;
                    font-size: 12px;
                    color: #555
                }

                &:hover{
                    transform: scale(1.05);
                }
            }
        }
        #smaller{
            float: right;
            width: 44.9%;
            height: 100vh;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-top: 21%;

            h3{
                color: #555;
                text-align: left;
                padding-left: 150px;
            }

            .inputs{
                .first{
                    display: flex;
                    padding-left: 100px;
                    
                    .vs-input-parent{
                        margin: 10px 20px;
                    }
                }
                .sec{
                    display: flex;
                    padding-left: 100px;
                    
                    .vs-input-parent{
                        margin: 10px 20px;
                    }
                }
                .submit{
                    padding-left: 150px;
                    padding-top: 10px;
                }
            }
        }
    }

    @media (max-width: 768px){
        .container{
            overflow-x: hidden;
            display: block;
            height: auto;
            #bigger{
                float: unset;
                width: 100vw;
                min-height: 100px;
                height: auto;
                padding-top: 50px;
                padding-bottom: 100px;

                h2{
                    color: #555;
                    margin-bottom: 0;
                }

                .flex{
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }

                .card{
                    width: 150px;
                    height: 200px;
                    background-color: #fff;
                    justify-content: center;
                    border-radius: 20px;
                    margin: 15px 20px;
                    box-shadow: 0 10px 20px -15px #000;
                    display:  inline-block;
                    position: relative;

                    img{
                        width: 100px;
                        height: 100px;
                        border-radius: 15px;
                        margin-top: 25px;
                        margin-bottom: 10px;
                    }

                    button{
                        position: absolute;
                        bottom: 15px;
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: 10px;
                        margin: 0;
                    }

                    p{
                        margin: 0;
                        font-size: 12px;
                        color: #555
                    }

                    &:hover{
                        transform: scale(1.05);
                    }
                }


            }
            #smaller{
                float: unset;
                width: 100vw;
                height: auto;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding-top: 21%;
                padding-bottom: 50px;

                h3{
                    color: #555;
                    text-align: left;
                    padding-left: 50px;
                }

                .inputs{
                    .first{
                        display: block;
                        padding-left: 10px;
                        
                        .vs-input-parent{
                            margin: 10px 20px;
                        }
                    }
                    .sec{
                        display: block;
                        padding-left: 10px;
                        
                        .vs-input-parent{
                            margin: 10px 20px;
                        }
                    }
                    .submit{
                        padding-left: 40px;
                        padding-top: 10px;
                    }
                }
            }
        }
    }
</style>